* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-style: none;
}
a {
  color: white;
}
a:hover {
  color: skyblue;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
@keyframes scroll {
  from {
    top: 250px;
  }
  to {
    top: 280px;
  }
}
@keyframes pic{
	from{top:400px}
	to{top:0}
}
@keyframes pic-left {
  from {
    margin-left: 20px;
  }
  to {
    margin-left: 5px;
  }
}
@keyframes pic-right {
  from {
    margin-right: 20px;
  }
  to {
    margin-right: 5px;
  }
}
html {
  width: 100%;
  height: 100%;
  color: white;
}
html body {
  width: 100%;
  height: 100%;
}
html body #total_header {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  height: 100%;
}
html body #total_header #header {
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px darkgrey solid;
}
html body #total_header #header .middle {
  float: left;
  width: 100%;
}
html body #total_header #header .middle ul {
  margin: 0 200px 0 230px;
  width: 100%;
  list-style: none;
}
html body #total_header #header .middle ul li:first-child > a {
  border-bottom: 2px solid white;
  box-sizing: border-box;
}
html body #total_header #header .middle ul li {
  box-sizing: border-box;
  width: 10%;
  height: 120px;
  float: left;
  text-align: center;
  padding: 0 10px;
  position: relative;
}
html body #total_header #header .middle ul li > a {
  display: block;
  height: 100%;
  line-height: 120px;
  color: white;
}
html body #total_header #header .middle ul li .hide {
  width: 100%;
  display: none;
  font-size: 12px;
  padding: 30px 0 ;
  box-sizing: content-box;
  background: #12457D;
  position: absolute;
  left: 0;
}
html body #total_header #header .middle ul li .hide p {
  margin: 25px 0;
}
html body #total_header #header .middle ul li:hover .hide {
  display: block;
  z-index: 99;
}
html body #total_header #header .middle ul li:hover {
  background: #12457D;
}
html body #total_header #header .middle ul li:hover > a {
  border-bottom: 2px solid white;
  box-sizing: border-box;
}
html body #total_header #header .left {
  width: 230px;
  float: left;
  margin-left: -100%;
}
html body #total_header #header .left a {
  margin-top: 20px;
  display: block;
  width: 100% ;
}
html body #total_header #header .right {
  float: left;
  width: 200px;
  margin-left: -200px;
  margin-top: 52px;
}
html body #total_header #header_info {
  width: 100%;
  position: relative;
}
html body #total_header #header_info h2 {
  font-size: 40px;
  margin: 200px auto auto 200px;
}
html body #total_header #header_info .arrows > div:first-child {
  float: left;
  margin-left: 20px;
}
html body #total_header #header_info .arrows > div:first-child:hover img {
  animation: pic-left 1s infinite linear;
}
html body #total_header #header_info .arrows > div:first-child img {
  float: left;
  margin: 0 10px;
  cursor: pointer;
}
html body #total_header #header_info .arrows > div:first-child span {
  float: left;
  font-size: 30px;
  margin-top: 5px;
}
html body #total_header #header_info .arrows > div:last-child {
  float: right;
  margin-right: 20px;
}
html body #total_header #header_info .arrows > div:last-child:hover img {
  animation: pic-right 1s infinite linear;
}
html body #total_header #header_info .arrows > div:last-child img {
  float: left;
  margin: 0 10px;
  cursor: pointer;
}
html body #total_header #header_info .arrows > div:last-child span {
  float: left;
  font-size: 30px;
  margin-top: 5px;
}
html body #total_header #header_info .arrows p {
  float: left;
  font-size: 20px;
  margin-left: 120px;
  margin-top: 15px;
}
html body #total_header #header_info .more {
  margin-left: 200px;
  margin-top: 30px;
  width: 133px;
  height: 50px;
}
html body #total_header #header_info .more:hover {
  background: slateblue;
}
html body #total_header #header_info .more a {
  color: white;
  display: block;
  width: 133px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border: white 1px solid;
  border-radius: 5px;
  text-align: center;
}
html body #total_header #header_info .imgList {
  list-style: none;
  margin-left: 120px;
}
html body #total_header #header_info .imgList li {
  margin-top: 10px;
}
html body #total_header #header_info .imgList li button {
  display: block;
  width: 30px;
  border: 2px solid gray;
}
html body #total_header #header_info .imgList li button:hover {
  width: 40px;
  border: 2px solid white;
}
html body #total_header #header_info .scroll {
  width: 60px;
  height: 80px;
  animation: scroll 1s 1s infinite linear;
  cursor: pointer;
  position: absolute;
  left: 48%;
}
html body #total_header #header_info .scroll p {
  margin-left: -15px;
}
html body #products {
  padding-bottom: 60px;
  background: #FFFFFF;
}
html body #products .sale {
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 80px auto 100px;
}
html body #products .sale h2 {
  font-size: 40px;
  color: black;
}
html body #products .sale p {
  font-size: 50px;
  color: gray;
  margin-top: -50px;
  margin-left: 50px;
}
html body #products ul {
  width: 1200px ;
  list-style: none;
  margin: 0 auto;
}
html body #products ul li {
  position: relative;
  float: left;
  margin: 10px;
}
html body #products ul li:hover .overDiv{
	opacity: 0.5;
	cursor: pointer;
}
html body #products ul li .overDiv{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:381px;
	border: 10px solid #0D77B9;
	box-sizing: border-box;
	background: url(../img/pro_gb.png) no-repeat center rgba(40,40,40,0.5);
	z-index: 55;
	opacity: 0;
}

html body #products ul li h3 {
  font-size: 22px;
  position: absolute;
  top: 20px ;
  left: 20px;
}
html body #products ul li p {
  position: absolute;
  font-size: 12px ;
  top: 60px ;
  left: 20px;
}
html body #about {
  width: 100%;
  position: relative;
}
html body #about > div {
  float: left;
}
html body #about .about_l {
  background: url(../img/about.png);
  width: 35.455%;
  height: 623px;
  box-sizing: border-box;
  padding-left: 110px;
}
html body #about .about_l h3 {
  color: black;
  font-size: 35px;
  font-weight: 400;
  margin-top: 70px;
}
html body #about .about_l > p:first-of-type {
  font-size: 45px;
  font-style: italic;
  color: grey;
  margin-top: -30px;
  margin-left: 30px;
  opacity: 0.5;
}
html body #about .about_l > p:last-of-type {
  letter-spacing: 1px;
  color: black;
  width: 400px;
  height: 90px;
  overflow: hidden;
  margin-top: 20px;
  line-height: 30px;
}
html body #about .about_l ul {
  list-style: none;
}
html body #about .about_l ul li {
  float: left;
  margin-right: 10px;
}
html body #about .about_l ul li h3 {
  width: 120px;
  color: #0060A1;
  text-align: center;
}
html body #about .about_l ul li p {
  width: 120px;
  font-size: 13px;
  text-align: center;
  color: gray;
}
html body #about .about_l .knowMore {
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px solid gray;
  color: gray;
  margin-top: 60px;
  margin-bottom: 110px;
}
html body #about .about_r {
  width: 64.545%;
  height: 623px;
  background: url(../img/global.png);
  padding-left: 60px;
  padding-right: 100px;
  box-sizing: border-box;
}
html body #about .about_r .about_r_title {
  margin-top: 70px;
  border-bottom: 1px solid gray;
  padding-bottom: 34px;
  cursor: pointer;
}
html body #about .about_r .about_r_title h3 {
  font-size: 35px;
  font-weight: 400;
  display: inline-block;
}
html body #about .about_r .about_r_title > p {
  display: inline-block;
  color: gray;
  font-size: 16px;
}
html body #about .about_r a {
  float: right;
  width: 160px;
  height: 50px;
  border: 1px solid gray;
  color: darkgray;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  font-size: 14px;
}
html body #about .about_r a:hover {
  background: #005C9A;
}
html body #about .about_r p {
  font-size: 14px;
  line-height: 26px;
  height: 26px;
  margin-top: 15px;
  color: gray;
}
html body #about .about_r img {
  display: block;
  margin: 16px 0;
}
html body #about .about_bl {
  width: 35.455%;
  height: 530px;
  box-sizing: border-box;
  background: url(../img/hot.png);
  padding-left: 110px;
}
html body #about .about_bl > a:first-of-type {
  display: block;
  margin-top: 70px;
}
html body #about .about_bl > a:first-of-type h3 {
  display: inline-block;
  font-size: 35px;
}
html body #about .about_bl > a:first-of-type p {
  width: 35px;
  height: 35px;
  color: #00589D;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  background: white;
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  top: -8px;
}
html body #about .about_bl > p {
  font-size: 35px;
  margin: 60px 0 40px;
}
html body #about .about_bl > a:nth-of-type(2) {
  display: block;
  margin-bottom: 60px;
}
html body #about .about_bl > a:nth-of-type(3) {
  font-size: 14px;
  display: block;
  margin-bottom: 60px;
}
html body #about .about_bl > div {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border: 1px #0060A1 solid;
  background: #005C9A;
  cursor: pointer;
}
html body #about .about_bl > div:hover {
  background: white;
  color: #005C9A ;
}
html body #about .about_bl > a:last-of-type {
  float: right;
}
html body #about .about_bl > a:last-of-type img {
  float: right;
}
html body #about .about_br {
  width: 64.545%;
  height: 530px;
  padding-left: 60px;
  padding-right: 100px;
  box-sizing: border-box;
  background: url(../img/news.png);
}
html body #about .about_br .about_br_title {
  margin-top: 70px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  cursor: pointer;
}
html body #about .about_br .about_br_title h3 {
  font-size: 35px;
  font-weight: 400;
  color: black;
  display: inline-block;
}
html body #about .about_br .about_br_title > p {
  display: inline-block;
  color: gray;
  font-size: 18px;
  margin-left: 10px;
}
html body #about .about_br .new {
  margin-top: 20px;
  margin-bottom: 210px;
}
html body #about .about_br .new > a:first-of-type {
  color: black;
  float: left;
}
html body #about .about_br .new > a:first-of-type:hover {
  color: #175AA1;
}
html body #about .about_br .new > a:first-of-type:hover .box {
  background: #175AA1;
  color: white;
}
html body #about .about_br .new > a:first-of-type .box {
  width: 114px;
  height: 114px;
  position: relative;
  border: 1px solid black;
  float: left;
}
html body #about .about_br .new > a:first-of-type .box div {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
html body #about .about_br .new > a:first-of-type .box div h4 {
  font-size: 20px;
  text-align: center;
}
html body #about .about_br .new > a:first-of-type .box div p {
  text-align: center;
}
html body #about .about_br .new > a:first-of-type .newName {
  float: left;
  margin-left: 10px;
}
html body #about .about_br .new > a:first-of-type .newName p {
  font-size: 18px;
  margin-bottom: 20px;
}
html body #about .about_br .new > a:last-of-type {
  color: black;
  float: right;
}
html body #about .about_br .new > a:last-of-type:hover {
  color: #175AA1;
}
html body #about .about_br .new > a:last-of-type:hover .box {
  background: #175AA1;
  color: white;
}
html body #about .about_br .new > a:last-of-type .box {
  width: 114px;
  height: 114px;
  position: relative;
  border: 1px solid black;
  float: left;
}
html body #about .about_br .new > a:last-of-type .box div {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
html body #about .about_br .new > a:last-of-type .box div h4 {
  font-size: 20px;
  text-align: center;
}
html body #about .about_br .new > a:last-of-type .box div p {
  text-align: center;
}
html body #about .about_br .new > a:last-of-type .newName {
  float: left;
  margin-left: 10px;
}
html body #about .about_br .new > a:last-of-type .newName p:first-of-type {
  width: 260px;
  font-size: 18px;
  margin-bottom: 20px;
}
html body #about .about_br .new > a:last-of-type .newName p:last-of-type {
  width: 260px;
  font-size: 14px;
  margin-bottom: 20px;
}
html body #solution {
  background: #FFFFFF;
}
html body #solution .one {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  padding: 60px 0;
}
html body #solution .one h3 {
  color: black;
  font-size: 35px;
  font-weight: 400;
  margin-top: 70px;
}
html body #solution .one p {
  font-size: 45px;
  font-style: italic;
  color: grey;
  margin-top: -30px;
  margin-left: 30px;
  opacity: 0.5;
}
html body #solution .solution_model > a {
  cursor: pointer;
  float: left;
  width: 33.33333333%;
  height: 300px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid gray;
}
html body #solution .solution_model > a:hover {
  background: url(../img/solution_bg.jpg);
  background-size: contain;
}
html body #solution .solution_model > a:hover .img_h {
  display: block;
}
html body #solution .solution_model > a:hover .img_s {
  display: none;
}
html body #solution .solution_model > a:hover h3 {
  color: white;
}
html body #solution .solution_model > a:hover p {
  color: white;
}
html body #solution .solution_model > a:hover .solution_btn {
  display: block;
}
html body #solution .solution_model > a .img_s {
  display: blcok;
  margin: 60px 0 20px 60px;
}
html body #solution .solution_model > a .img_h {
  display: none;
  margin: 60px 0 20px 60px;
}
html body #solution .solution_model > a h3 {
  font-size: 25px;
  color: black;
  font-weight: 100px;
  margin: 0 0 20px 60px;
}
html body #solution .solution_model > a p {
  font-size: 14px;
  color: black;
  margin: 0 0 60px 60px;
}
html body #solution .solution_model > a .solution_btn {
  display: none;
  width: 76px;
  height: 76px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
html body #solution .solution_model .solution_more h3 {
  float: left;
  margin-top: 130px;
}
html body #solution .solution_model .solution_more img {
  float: left;
  margin-top: 140px;
}
html body #solution .solution_model .solution_more .solution_btn {
  bottom: 140px;
}
html body #other {
  background: #005795;
}
html body #other ul {
  width: 80%;
  list-style: none;
  padding: 40px 0;
  margin: 0 auto;
}
html body #other ul li {
  float: left;
  margin-right: 22%;
}
html body #other ul li p {
  font-size: 18px;
  margin-left: 14px;
}
html body #other ul li:last-of-type {
  margin: 0;
}
html body #footer {
  background: #1A1A1A;
}
html body #footer ul {
  list-style: none;
  padding: 120px 60px 20px;
}
html body #footer ul .products_nav:first-of-type {
  float: left;
  width: 22%;
}
html body #footer ul .products_nav:first-of-type h4 {
  font-size: 18px;
  margin-bottom: 60px;
}
html body #footer ul .products_nav:first-of-type a {
  width: 40%;
  float: left;
  margin: 10px 0;
}
html body #footer ul .products_nav:nth-of-type(2) {
  float: left;
  width: 35%;
  box-sizing: border-box;
  padding-left: 40px;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray ;
}
html body #footer ul .products_nav:nth-of-type(2) h4 {
  font-size: 18px;
  margin-bottom: 60px;
}
html body #footer ul .products_nav:nth-of-type(2) a {
  width: 43%;
  float: left;
  margin: 10px 0;
}
html body #footer ul .products_nav:nth-of-type(3) {
  float: left;
  width: 40%;
  padding-left: 40px;
  position: relative;
}
html body #footer ul .products_nav:nth-of-type(3) h4 {
  font-size: 18px;
  margin-bottom: 60px;
}
html body #footer ul .products_nav:nth-of-type(3) p {
  width: 300px;
  margin-bottom: 10px;
}
html body #footer ul .products_nav:nth-of-type(3) p:last-of-type {
  color: red;
}
html body #footer ul .products_nav:nth-of-type(3) div {
  position: absolute;
  top: 60px;
  right: 20px;
}
html body #footer ul .products_nav:nth-of-type(3) div h5 {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
html body #footer ul .company {
  clear: both;
  width: 100%;
  margin-top: 460px;
  padding-top: 20px;
  border-top: 1px solid darkgray;
}
html body #footer ul .company span {
  float: left;
  color: #999999;
  margin-right: 50px;
}
html body #footer ul .company a:first-of-type {
  color: #999999;
  font-size: 14px;
  float: left;
  margin-left: -30px;
}
html body #footer ul .company a:first-of-type:hover {
  color: skyblue;
}
html body #footer ul .company a:first-of-type img {
  position: relative;
  top: 2px;
}
html body #footer ul .company a:not(:first-of-type) {
  color: #999999;
  float: right;
  margin-right: 20px;
}
html body #footer ul .company a:not(:first-of-type):hover {
  color: skyblue;
}
