* {
  padding: 0;
  margin: 0;
  text-decoration: none ;
  border: 0;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
}
html body #first {
  height: 100%;
  background: darkcyan;
}
html body #first ul {
  position: fixed;
  right: 0;
  top: 0;
  list-style: none;
  z-index: 99999;
}
html body #first ul li {
  float: left;
  width: 100px ;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
html body #first ul li:hover {
  background: green ;
}
html body #first ul li a {
  color: black;
  font-weight: bold;
}
html body #first .info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: skyblue ;
}
html body #first .info img {
  border-radius: 50%;
}
html body #first .info h3 {
  margin-top: 15px;
}
html body #first .info h2 {
  margin-top: 15px;
}
html body #first .info h4 {
  margin-top: 15px;
}
html body #first #fengche {
  width: 108px;
  height: 108px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
  transition: 3600s linear;
}
html body #first #fengche div:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 2px;
  border-radius: 0 50%;
  float: left;
}
html body #first #fengche div:nth-child(2) {
  width: 50px;
  height: 50px;
  background-color: yellow;
  margin: 2px;
  border-radius: 50% 0;
  float: left;
}
html body #first #fengche div:nth-child(3) {
  width: 50px;
  height: 50px;
  background-color: blue;
  margin: 2px;
  border-radius: 50% 0;
  float: left;
}
html body #first #fengche div:nth-child(4) {
  width: 50px;
  height: 50px;
  background-color: green;
  margin: 2px;
  border-radius: 0 50% ;
  float: left;
}
html body #first #next {
  width: 20%;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom: 0;
  left: 40%;
  z-index: 99999;
}
html body #first #next:hover {
  background: rgba(255, 255, 255, 0.3);
}
html body #first #prev {
  width: 20%;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 40%;
  z-index: 99999;
}
html body #first #prev:hover {
  background: rgba(255, 255, 255, 0.3);
}
html body #second {
  position: relative;
  background: darkgoldenrod;
  height: 100%;
}
html body #second .second {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: darkolivegreen;
}
html body #second .second h1 {
  font-size: 40px;
  line-height: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: darkkhaki ;
  margin: 0 auto;
}
html body #second .second .skill {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}
html body #second .second .skill div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 150px;
  background: wheat;
}
html body #third {
  position: relative;
  height: 100%;
  background: darkseagreen;
  text-align: center;
}
html body #third .third {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
html #four {
  position: relative;
  height: 100%;
  background: lightcoral;
}
html #four .four {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
